.btn{
    width: 80px;
    height: min-content;

    padding: 6px;

    font-weight: 700;
    border: 1px solid grey;
    border-radius: 10px;
    text-align: center;
    transition: 0.4s;
    &:hover{
        cursor: pointer;
        background-color: yellow;
        transition: 0.4s;
    }
}