@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;700&display=swap');

$font: 'Poppins','Arial', sans-serif;
$color-dark: #022c26;
$color-light: #cfdcb8;
$bg-color-light:#eeeeee;
$color-black:#111111;
$color-light-grey:#e6e6e6